{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Government schemes</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}" />
  <!-- fonts awesome style -->
  <link href="{% static 'main/css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,,600,700|Poppins:400,500,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'main/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'main/css/responsive.css' %}" rel="stylesheet" />
</head>
<style>
  #google_element
  {
    float: right;
  }
  h1
  {
      padding: 50px;
      font-size: 50px;
      text-align: center;
      color: white;
  }
  .schemeDetail
  {
      background-color: yellow;
      padding: 20px;
      font-size: 20px;
      border-radius: 30px;
      margin: 5px;
  }
  .schemeDetail:hover
  {
    border: 2px solid white;
  }
</style>
<body>
  <div id="google_element"></div>
  <div>
    
    <!-- header section -->
    <div style="margin-left: 20px;">
        <div style="float:left">
          <a class="navbar-brand" href="{% url 'index' %}">
            <span>HealthyHarvest</span>
          </a>
        </div>
    </div>
    <!-- end header section -->
    
    <div class="container">
        <h1>Government schemes for agriculture</h1>
        <div>
            <div class="schemeDetail">
                <span>Andaman & Nicobar Islands: Rashtriya Krishi Vikas Yojana</span>
                <div style="float:right">
                    <a href="https://farmer.gov.in/imagedefault/handbooks/ANDAMAN%20AND%20NICOBAR.pdf" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
                </div>
            </div>
            <div class="schemeDetail">
                <span>Andhra Pradesh: Panchangam</span>
                <div style="float:right">
                    <a href="https://apagrisnet.gov.in/seed.php" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
                </div>
            </div>
            <div class="schemeDetail">
                <span>Arunachal Pradesh: National Bamboo Mission</span>
                <div style="float:right">
                    <a href="https://arunhorticulture.nic.in/schemes.html" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
                </div>
            </div>
            <div class="schemeDetail">
                <span>Assam: Rastriya Krishi Vikash Yojana (RKVY)</span>
                <div style="float:right">
                    <a href="https://diragri.assam.gov.in/portlet-innerpage/schemes-and-program-0" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
                </div>
            </div>
            <div class="schemeDetail">
              <span>Bihar: BIHAR RAJYA BEEJ NIGAM</span>
              <div style="float:right">
                  <a href="https://state.bihar.gov.in/krishi/CitizenHome.html" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
              </div>
            </div>
            <div class="schemeDetail">
              <span>Assam: Rastriya Krishi Vikash Yojana (RKVY)</span>
              <div style="float:right">
                  <a href="https://diragri.assam.gov.in/portlet-innerpage/schemes-and-program-0" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
              </div>
          </div>
          <div class="schemeDetail">
            <span>Chandigarh Kisan Yojana</span>
            <div style="float:right">
                <a href="https://diragri.assam.gov.in/portlet-innerpage/schemes-and-program-0" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div>
          <div class="schemeDetail">
            <span>Chhattisgarh: Krishi Vikash Yojana </span>
            <div style="float:right">
                <a href="https://www.manage.gov.in/fpoacademy/SGSchemes/chattisgarh.pdf" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div>
          <div class="schemeDetail">
            <span>Dadra and Nagar Haveli: High yielding and hybrid varieties of crops</span>
            <div style="float:right">
                <a href="http://dnh.nic.in/CitizenCharter/AGRICULTURE.pdf" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div>   
          <div class="schemeDetail">
            <span>Daman and Diu: Distribution of agriculture seeds</span>
            <div style="float:right">
                <a href="http://164.100.94.191/niti/writereaddata/files/DamanDiu_Presentation_0.pdf" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
          <div class="schemeDetail">
            <span>Delhi: Smart Agriculture</span>
            <div style="float:right">
                <a href="https://agricoop.nic.in/" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
          <div class="schemeDetail">
            <span>Goa: Department of agriculture</span>
            <div style="float:right">
                <a href="https://farmer.gov.in/imagedefault/handbooks/GOA.pdf" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
          <div class="schemeDetail">
            <span>Gujarat: MOFPI and APEDA Schemes</span>
            <div style="float:right">
                <a href="https://www.manage.gov.in/fpoacademy/SGSchemes/gujarat.pdf" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
          <div class="schemeDetail">
            <span>Haryana: Haryana Pragtisheel Kisan Yojna</span>
            <div style="float:right">
                <a href="http://hsamb.org.in/farmers-welfare-scheme" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div>
          <div class="schemeDetail">
            <span>Himachal Pradesh: Crop Diversification Promotion Project (JICA EAP)</span>
            <div style="float:right">
                <a href="https://eudyan.hp.gov.in/Department/Portal/schemes.aspx" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div>  
          <div class="schemeDetail">
            <span>Jammu & Kashmir: National Mission for Agriculture Extension and Technology</span>
            <div style="float:right">
                <a href="https://horticulture.jk.gov.in/Schemes.html" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div>  
          <div class="schemeDetail">
            <span>Jharkhand: Central Sector Scheme for MRIN</span>
            <div style="float:right">
                <a href="https://www.manage.gov.in/fpoacademy/SGSchemes/Jharkhand.pdf" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div>  
          <div class="schemeDetail">
            <span>Karnataka: Zero Budget Natural Farming</span>
            <div style="float:right">
                <a href="https://raitamitra.karnataka.gov.in/info-2/Organic+Farming+and+Millet+Promotional+Programs/en" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div>  
          <div class="schemeDetail">
            <span>Kerala: State Crop Insurance Scheme</span>
            <div style="float:right">
                <a href="https://keralaagriculture.gov.in/en/schemes/" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div>  
          <div class="schemeDetail">
            <span>Lakshadweep</span>
            <div style="float:right">
                <a href="http://lakagri.nic.in/" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
          <div class="schemeDetail">
            <span>Madhya Pradesh: Mukhyamantri Bhavantar Bhugatan Yojana</span>
            <div style="float:right">
                <a href="http://mpkrishi.mp.gov.in/hindisite_New/suvidhaye_New.aspx" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
          <div class="schemeDetail">
            <span>Maharashtra: Krushi Vibhag</span>
            <div style="float:right">
                <a href="https://www.manage.gov.in/fpoacademy/SGSchemes/maharashtra.pdf" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
          <div class="schemeDetail">
            <span>Punjab: Intensive Cotton Development Programme</span>
            <div style="float:right">
                <a href="https://agri.punjab.gov.in/?q=schemes" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div>  
          <div class="schemeDetail">
            <span>Rajasthan: Kisan Kalyan Kosh</span>
            <div style="float:right">
                <a href="https://agriculture.rajasthan.gov.in/content/agriculture/en/Agriculture-Department-dep/departmental-activities/schemes-and-programs.html" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
          <div class="schemeDetail">
            <span>Tamilnadu: Farmers Interest Group (FIG)</span>
            <div style="float:right">
                <a href="https://www.tn.gov.in/scheme/department_wise/2" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
          <div class="schemeDetail">
            <span>Telangana: National and Food Security Mission(NFSM)</span>
            <div style="float:right">
                <a href="https://cdn.s3waas.gov.in/s3fa7cdfad1a5aaf8370ebeda47a1ff1c3/uploads/2020/05/2020050717.pdf" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
          <div class="schemeDetail">
            <span>Uttar Pradesh: Pandit Deendayal Kisan Samridhi Yojana</span>
            <div style="float:right">
                <a href="https://agricoop.nic.in/sites/default/files/FFH201819_Eng.pdf" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div>        
          <div class="schemeDetail">
            <span>Uttarakhand: Uttarakhand Kisan Sanghatan</span>
            <div style="float:right">
                <a href="https://agriculture.uk.gov.in/pages/show/219-programmes-schemes" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
          <div class="schemeDetail">
            <span>West Bengal: Amar Fasal, Amar Gola</span>
            <div style="float:right">
                <a href="http://www.atiwb.nic.in/People%20Entitlement.pdf" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Know more</a>
            </div>
          </div> 
        </div>
    </div>
    
  </div>

  <!-- contact section -->

  <section class="info_section layout_padding section_pl" id="contactus">
    <div class="container">
      <div class="info_logo">
        <a href="">
          HealthyHarvest
        </a>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="#">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Hyderabad, Telangana, INDIA
                </span>
              </a>
              <a href="#">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="#">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  Email : team10@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a href="{%url 'index' %}">
                Home
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved. 
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <script src="{% static 'main/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'main/js/bootstrap.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="{% static 'main/js/custom.js' %}"></script>
  <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
  <script>
    function loadGoogleTranslate(){
      new google.translate.TranslateElement("google_element");
    }
  </script>
  
</body>

</html>